body {
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;

    /* amarelo pastel mais vivo */
    background: linear-gradient(135deg, #FFF176, #FFEE58);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 30px;
    color: #5C4900;
    text-align: center;
}

input {
    width: 260px;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid #FFC107;
    font-size: 16px;
    margin-bottom: 15px;
    outline: none;
}

button {
    width: 260px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #FFB300;
    color: #3F3200;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #FFA000;
    transform: scale(1.03);
}

#resultado {
    margin-top: 20px;
    font-size: 18px;
    color: #4F3E00;
    font-weight: bold;
    text-align: center;
    width: 260px;
}